/* STILE COMMENTATO PER SEMPLICITà VISIVA */
/* 

.sfondo {
    background-image: url(../assets/rick.png);
    background-position: center;
    background-size: cover;
    text-align: center;
    height:0;
    width:100%;
    padding-bottom:100%;
    display: flex;
    justify-content: center;
    

}

.calc {
    color: black;
    background-color: white;
    border: 0px solid;
    border-radius: 10px;
    min-height: 50px;
    padding: 1em;
} */
body {
    width: 100vw;
    margin: 0;
    padding: 1.5em;
    
    font-size: larger;
    font-weight: 700;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

header {
    width: 50%;
    padding: 1.5em;
    margin-bottom: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0px solid;
    border-radius: 20px;
    background-color: black;
    color: white;
}

header h1{
    font-size: 2rem;
    font-weight: 700;
    font-variant: small-caps ;
    margin-bottom: 1.5em;
    color: orangered;
}

main {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.programma {
    width: 150px;
    padding: 1.2em;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;

}

main button {
    border: 1px solid grey;
    border-radius: 10px;
    background-color: orangered;
    color: white;
}




